#fulldata, #protocoldata {
  background-size: cover;
  padding: 300px 0px;
  background-repeat: none;
}

#fulldata {
  background-image: url(res/demon2.png);
}

#protocoldata {
  background-image: url(res/all/model.gephi.protocol_nfs.svg);
}
