<!DOCTYPE html>
<meta charset="utf-8">
<html>
  <head>
    <title>bigpicture | small multiple hives</title>
    <link rel="stylesheet" type="text/css" href="css/hive.css" />
  </head>
  <body>
    <h1>bigpicture | small multiple hives</h1>

    <table>
      <tr>
        <th></th>
        <th>http</th>
        <th>ssh</th>
        <th>nfs</th>
        <th>ldap</th>
        <th>mysql</th>
      </tr>
      <tr class="graphs">
        <th id="description0"></th>
        <td id="graph_0_0"></td>
        <td id="graph_0_1"></td>
        <td id="graph_0_2"></td>
        <td id="graph_0_3"></td>
        <td id="graph_0_4"></td>
      </tr>
      <tr class="graphs">
        <th id="description1"></th>
        <td id="graph_1_0"></td>
        <td id="graph_1_1"></td>
        <td id="graph_1_2"></td>
        <td id="graph_1_3"></td>
        <td id="graph_1_4"></td>
      </tr>
    </table>

    <a href="../index.html">index</a>

    <script src="js/d3.v3.min.js"></script>
    <script src="js/jquery-1.9.0.min.js"></script>
    <script src="js/link.js"></script>
    <script src="js/hive.js"></script>
    <script>
      var mapping0 = createGroupFunction(JSON.parse(getUrlVar("mapping0")));
      var desc0 = mapping0.description;
      $("#description0").html(desc0[0] + "<br>" + desc0[2] + "&nbsp;" + desc0[1]);

      var mapping1 = createGroupFunction(JSON.parse(getUrlVar("mapping1")));
      var desc1 = mapping1.description;
      $("#description1").html(desc1[0] + "<br>" + desc1[2] + "&nbsp;" + desc1[1]);

      addSimpleHive("data/connections.json", "http", mapping0, "#graph_0_0");
      addSimpleHive("data/connections.json", "ssh", mapping0, "#graph_0_1");
      addSimpleHive("data/connections.json", "nfs", mapping0, "#graph_0_2");
      addSimpleHive("data/connections.json", "ldap", mapping0, "#graph_0_4");
      addSimpleHive("data/connections.json", "mysql", mapping0, "#graph_0_3");

      addSimpleHive("data/connections.json", "http", mapping1, "#graph_1_0");
      addSimpleHive("data/connections.json", "ssh", mapping1, "#graph_1_1");
      addSimpleHive("data/connections.json", "nfs", mapping1, "#graph_1_2");
      addSimpleHive("data/connections.json", "ldap", mapping1, "#graph_1_4");
      addSimpleHive("data/connections.json", "mysql", mapping1, "#graph_1_3");
    </script>
  </body>
</html>
